  .c-calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    position: absolute;
    bottom: -3rem;
    left: calc(50% - 350px);
    max-width: 700px;
    width: 100%;
    height: 5.25rem;

    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);

    z-index: 1;

    h3 {
      font-size: .7rem;
      color: #8e8e8e;
      margin-bottom: .3rem;
      text-transform: uppercase;

      .u-text-invisible {}
    }

    .fake-date-picker {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      cursor: pointer;
      border-bottom: 1px solid #e9e9e9;
      font-size: 11px;
      padding: 9px;
      color: #8e8e8e;

      &:hover {}

      &:active {}

      &:focus {}
    }

    form {
      display: flex;
      font-size: 1rem;

      label {
        width: 100%;

        h3 {
          font-size: .7rem;
          color: #8e8e8e;
          text-transform: uppercase;
        }
      }

      #select-persons.filter-value {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: $weight-bold;

        option {}
      }

      button {
        background-color: $orange;
        height: 100%;
      }
    }
  }