  .c-more-houses {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;

      // grid-template-rows: 1fr 1fr;
      width: 100%;
      max-width: 100%;

      .more-houses__heading {
          // copy from site
          min-width: 100%;
          width: 100%;
          max-width: 100%;
          grid-column: 1 / 4;
          text-align: center;
          font-weight: $weight-medium;
          margin-bottom: $spacing-huge;
      }

      .more-houses__link {
          // copy styling from site and add new 'circle arrow' class
          font-weight: $weight-bold;

          &:hover {}

          &:active {}

          &:focus {}
      }
  }