.c-hero-header {
  background-image: url(./assets/images/home_background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 100px;
  position: relative;

  
  .hero-header__content {
    
    &__header {
      &__heading {
        color: $white;
      }

      &__text {
        max-width: 500px;
        color: $white;
        font-weight: $weight-medium;
        margin-bottom: $spacing-medium;
      }

      a {
        &:hover {}

        &:active {}

        &:focus {}
      }
    }

    &__link {
      &:hover {}

      &:active {}

      &:focus {}
    }
  }
}