.c-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 2.5% 0 0 0;
  width: 100%;
}

.c-hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('/assets/images/home_background.jpeg');
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vw;
  width: 100vw;
  margin-bottom: 8rem;
  position: relative;
}

.hero-header__content {
  width: 100%;
  max-width: 1075px;
}

.hero-header__content__header {
  margin-top: 100px;
}

.hero-header__content__header__heading {
 
  margin-bottom: 2rem;
  max-width: 50rem;
  font-size: 45px;
  font-weight: 700;
  text-align: left;
}

.hero-header__content__header__text, .hero-header__content__header__text a {
  font-size: 24px;
  max-width: 35rem;
  color: #fff;
  margin-bottom: 1.5rem;
  font-weight: 600;

  &:last-of-type {
    margin-bottom: 4rem;
  }
}

.hero-header__content__header__text a {
text-decoration: underline;
}

.hero-header__content__link {
  min-width: 100%;
}

// TYPOGRAPHY


.hero-header__content__header__text {

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
}

.hero-header__content__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &::after {
    content: "⭢";
    font-size: 2rem;
    vertical-align: middle;
    margin-left: 0.75rem;
  }
}
